:root{
    --haitiColor: #131738;
    --newYorkPink: #d27d78;
}
*{
    background-color:var(--haitiColor);
    color: var(--newYorkPink);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    z-index: 5;
}
.burger{
    background-color: white;
    width: 7vh;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.line{
    height: 1vh;
    width: 5vh;
    background-color: white;
}
.fox img{
    height: 10vh;
}

/*styling the backgroubd picture*/
.alignBoth{
    position: absolute;
    z-index: 1;
}
.backgroundPictureContainer{
    position: absolute;
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(/images/Capture\ 7.PNG);
    overflow: hidden;
}
.backgroundPictureContainer span{
    position: relative;
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70px;
    min-height: 70px;
    background: none;
}
.backgroundPictureContainer span::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 20vw;
    height: 20vw;
    background: url(/images/IMG_3687.CR2.jpg);
    background-position: bottom;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    border-radius: 50%;
    pointer-events: none;
    transition: 5s;
    opacity: 0;
}
.backgroundPictureContainer span:hover::before{
    transition: 0s;
    opacity: 1;
}

/*Writing in front of the main image*/
.writing{
    position: relative;
    z-index: 3;
}