:root{
    --haitiColor: #131738;
    --newYorkPink: #d27d78;
}
*{
    background-color:var(--haitiColor);
    color: var(--newYorkPink);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heather{
    display: flex;
    justify-content: space-between;
}
.burger{
    background-color: white;
    width: 7vh;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.line{
    height: 1vh;
    width: 5vh;
    background-color: white;
}
.fox img{
    height: 10vh;
}

/*styling the backgroubd picture*/
.backgroundPictureContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #000;
    overflow: hidden;
}
.backgroundPictureContainer span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
}
.backgroundPictureContainer span::before{
    content: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/Capture 7.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: 4s;
    opacity: 0;
}
.backgroundPictureContainer span:click::before{
    transition: 0s
    opacity: 1;
}